
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15em;
    color:white;
    background-color: #9932cc;
    
}
.footer{
    margin-left:10em;
    margin-top:2em;
    line-height: 3em;
}
.footer p{
    color:#9932cc;
    font-weight: bold;
    font-size:20px
}
.footer a{
    font-size: 14px;
}
.header-telefone{
    margin-left:20em;
    margin-top:-12.4em;
    line-height: 3em;
}
.header-whats{
    margin-left:65em;
    margin-top:-19em;
    line-height: 4.6em;
    font-size:10px
}